<div class="row">
  <section class="main col-md-9">
    <article>
    <h2>About</h2>
    <p>Hello everyone, I am Samir Chaulagain. I am Currently persuing computer programming and analysis in Seneca College. I am based in Toronto, Canada.I started learning code on my own in 2018, but the quest for the coding started when I was in high school. My plan is to become front end web developer as well as UX/UI Designer.</p>

    </article>
  </section>
  <aside class="col-md-3">
    <h2>Comming Soon</h2>
    <p>I will be updating more information on this page soon.</p>
  </aside>
</div>


  